/* You can add custom styles here. */

a del {
  opacity: 0.5;
}

.logo-icon {
  transition: opacity 0.3s linear;
}
.logo-icon--color,
.author:hover .logo-icon--monochrome {
  opacity: 0;
}
.author:hover .logo-icon--color {
  opacity: 1;
}
.text-over path {
  stroke-dasharray: 25;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s linear;
}
.author:hover .text-over path {
  stroke-dashoffset: 25;
}

.book-menu nav {
  max-width: calc(100vw - 2rem);
}

.book-toc .book-toc-inner nav {
  width: auto;
  padding: 0;
  position: static;
  overflow-x: unset;
  overflow-y: unset;
}
.book-toc-inner {
  width: $toc-width;
  padding: $padding-16;

  @include fixed;
}
@media screen and (min-width: $container-max-width) {
  .book-toc .book-toc-inner nav {
    padding: 0;
  }
  .book-toc-inner {
    padding: $padding-16 * 2 $padding-16;
  }
}
