/* You can add custom styles here. */

a del {
  opacity: 0.5;
}

.author:hover .text {
  opacity: 0.5;
}
.author:hover .logo-box {
  fill: #e66d31;
  stroke: none;
}
.author:hover .logo-path {
  stroke: #000;
}
.author:hover .logo-nose {
  fill: #000;
}

.book-menu nav {
  max-width: calc(100vw - 2rem);
}

.book-toc .book-toc-inner nav {
  width: auto;
  padding: 0;
  position: static;
  overflow-x: unset;
  overflow-y: unset;
}
.book-toc-inner {
  width: $toc-width;
  padding: $padding-16;

  @include fixed;
}
@media screen and (min-width: $container-max-width) {
  .book-toc .book-toc-inner nav {
    padding: 0;
  }
  .book-toc-inner {
    padding: $padding-16 * 2 $padding-16;
  }
}
